* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "BioRhyme", serif;
}

body {
    background-color: #19172a;
}

.card {
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    width: 90%;
    max-width: 470px;
    margin: 100px auto;
    border-radius: 20px;
    padding: 40px 35px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search-box input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    border-radius: 30px;
    margin-right: 16px;
    font-size: 18px;
}

.search-box button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search-box img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

@media only screen and (max-width: 768px) {
    .card {
        width: 80%;
    }

    .weather h1 {
        font-size: 60px;
    }

    .weather h2 {
        font-size: 35px;
    }

    .col img {
        width: 30px;
    }

    .humidity, .wind {
        font-size: 22px;
    }
}

@media only screen and (max-width: 480px) {
    .card {
        width: 95%;
        padding: 30px 25px;
    }

    .search-box input {
        padding: 8px 20px;
        font-size: 16px;
    }

    .search-box button {
        width: 50px;
        height: 50px;
    }

    .weather h1 {
        font-size: 50px;
    }

    .weather h2 {
        font-size: 30px;
    }

    .details {
        padding: 0px 10px;
    }

    .col img {
        width: 25px;
    }

    .humidity, .wind {
        font-size: 18px;
    }
}